node_modules

dist

.env
.env.test
.env.*
!.env.example

.git
.gitignore

src/tests
jest.config.js
jest.setup.ts
coverage

tsconfig.tsbuildinfo

.vscode
.idea
.DS_Store
*.log

Dockerfile
.dockerignore
docker-compose*.yml